/* You can add global styles to this file, and also import other style files */
.preloader-bg-wrapper{
    position: fixed;
    top:0;
    left: 0;
    background:#1D1B2B;
    z-index: 100;
    width: 100%;
    height: 100%;
}
body,html{
    background:#1D1B2B;
}
.row{
    margin-bottom: 0px !important;
}

.loading-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
.main-menu-btn{
    z-index: 10;
    position: fixed;
    top: 10px;
    right:10px;
}
*{
    font-family: 'Roboto', sans-serif;
}
.page-content{
    background:#1D1B2B;
    color:white;
}
section.about,section.skills,section.videos,section.testimonials,section.projects{
    padding: 70px 0px 70px 0px;
}

section.about{
    background: #1A1827;
}
section.about .social-links{
    list-style: none;
    list-style-type: none;
    color:white;
}
section.about .social-links a{
    color:white;
}
section.about .social-links li{
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease-in all;
}

.primary-color{
    background: #B0193F;
    border-color: #B0193F;
}
.primary-color:hover{
    background: rgb(150, 22, 54);
    border-color: rgb(150, 22, 54);
}

.secondary-color{
    background: #F9B960;
    border-color: #F9B960;
    color:rgb(29, 29, 29);
}
.secondary-color:hover{
    background: rgb(207, 154, 80);
    border-color: rgb(207, 154, 80);
}

section.about .social-links li .fa-facebook-f:hover{
    color:#3b5998;
}
section.about .social-links li .fa-at:hover{
    color:#34a853;
}
section.about .social-links li .fa-youtube:hover{
    color:#ff0000;
}
section.about .social-links li .fa-git:hover{
    color:#4078c0;
}
section.about .social-links li .fa-twitter:hover{
    color:#1da1f2;
}
section.about .social-links li .fa-instagram:hover{
    color:#e1306c;
}
.about-title,#typed{
    padding: 5px;
    font-family: 'Fjalla One', sans-serif;
font-weight: 400;
font-size: 30px;
color:#F9B960;
}
.section-title{
    display: inline-block;
    background:#F9B960;
    padding: 6px 12px;
    color:black;
    margin-bottom: 30px;
    font-family: 'Fjalla One', sans-serif;
}

/* Skills Section */
ul.skills li{
    transition: .2s ease-in all;
    text-align: center;
list-style-type: none;
padding: 10px 20px !important;
border: #15131F 2px dashed;
margin: 5px;
border-radius: 10px;
}
ul.skills li:nth-child(odd):hover{
    border-color: #F9B960;
transform: translateX(-10px) scale(1.03);
}
ul.skills li:nth-child(even):hover{
    border-color: #F9B960;
    transform: translateX(10px) scale(1.03);
    }
section.skills .skill-heading{
    display: inline-block;
    margin-bottom: 20px;
    color:rgb(48, 44, 71);
}
    /*  */


    /* Project Section */
    section.projects .card{
        cursor: pointer;
        transition: .2s ease-out all;
    }
    section.projects .card .card-title{
        background: #B0193F;
        padding: 3px 10px;
        color: white;
        margin-bottom: 10px;
        margin-left: 10px;
        transition: 0.2s ease-out all;
    }

    section.projects .card:hover .card-title{
        background: black;
    }

   
    section.projects .card:hover{
        transform: scale(1.03) translatey(-10px);
    }

    section.projects .card .card-title{
        font-size: 80%;
        text-transform: uppercase;
    }

    /* Testiomonials Section */

    section.testimonials .author-name{
font-weight: 600;
margin-bottom: 0px;
    }
    .carousel{
        height: 180px !important;
    }

.youtube-tagline{
    font-size: 160%;
    letter-spacing: 2px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 300;
    text-shadow: none;
}    
.footer-credit::before{
    content: ' ';
    display: block;
    margin-bottom: 20px;
    border:2px dashed #15131F;
}
.footer-credit{
    background: #15131F;
    padding-bottom: 20px;
}
.footer-credit p{
margin-bottom: 5px;
margin-top: 5px;
font-family: 'Fjalla One', sans-serif;
}
.footer-credit p.credit-item-1{
    color:rgb(121, 121, 122);
    margin-bottom: 10px;
}
.footer-credit p.credit-item-2{
    color:#B0193F;
    margin-bottom: 10px;
}
.footer-credit p span{
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.testimonial-control ul li{
    list-style-type:none;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px 5px 5px;
    cursor: pointer;

}
.testimonial-control ul li i{
    transition: 0.2s ease-out all;
}
.testimonial-control ul li:nth-child(1):hover i{
    color:#B0193F;
    transform: translateX(-10px);
    
}
.testimonial-control ul li:nth-child(2):hover i{
    color:#B0193F;
    transform: translateX(10px);
}